[{*.kt,*.kts}]
ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_allow_trailing_comma=true
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length=100
ktlint_code_style=android_studio
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than=4


[*.java]
ij_continuation_indent_size=4
