<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />

    <!--  Override the minSdk 23 requirement of the library  -->
    <!--  see: https://github.com/ujizin/Camposer/discussions/3  -->
    <uses-sdk tools:overrideLibrary="com.ujizin.camposer"/>
</manifest>
