name: Lint, Build, and Test
on: [pull_request]
# Lints code, builds all modules, and runs tests
jobs:
  build:
    strategy:
      matrix:
        agp_version: ["7.4.0", "7.3.1", "7.2.1"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle # Although not strictly necessary, it is useful for better caching
        uses: gradle/gradle-build-action@v2
      - name: Build, Test, Lint
        run: ./gradlew build -PAGP_VERSION=${{ matrix.agp_version }} -PSENTRY_DSN=${{ secrets.SENTRY_DSN }}
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: musichin/ktlint-check@v2
        with:
          ktlint-version: "0.48.0"
