name: Trigger Release on Flutter and React Native

on:
  release:
    types:
      - created

jobs:
  trigger-release:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Release on Flutter
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.GH_PAT }}" \
            -H "Accept: application/vnd.github.everest-preview+json" \
            -H "Content-Type: application/json" \
            https://api.github.com/repos/smileidentity/flutter/actions/workflows/release_android.yml/dispatches \
            --data '{"ref": "main","inputs": {"android_release_version": "${{ github.event.release.tag_name }}" }}'
      - name: Trigger Release Workflow in React Native
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.GH_PAT }}" \
            -H "Accept: application/vnd.github.everest-preview+json" \
            -H "Content-Type: application/json" \
            https://api.github.com/repos/smileidentity/react-native/actions/workflows/release.yml/dispatches \
            --data '{"ref": "main","inputs": {"android_release_version": "${{ github.event.release.tag_name }}" }}'