name: Release Android SDK
on:
  workflow_dispatch:
    inputs:
      version_override:
        description: 'The version to release. If not specified, the version will be inferred'
        required: false
        default: ''

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle # Although not strictly necessary, it is useful for better caching
        uses: gradle/gradle-build-action@v2
      - name: Write Smile Config
        run: |
          echo '${{ secrets.SMILE_CONFIG_PARTNER_002 }}' > sample/src/main/assets/smile_config.json
      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1
        with:
          fileName: 'upload.jks'
          fileDir: './sample'
          encodedString: ${{ secrets.UPLOAD_KEYSTORE }}
      - name: Read Version
        id: read_version
        run: |
          if [ -n "${{ github.event.inputs.version_override }}" ]; then
            echo "Using version override: ${{ github.event.inputs.version_override }}"
            echo "version=${{ github.event.inputs.version_override }}" >> $GITHUB_OUTPUT
          else
            version=$(cat ./lib/VERSION)
            if [[ $version != *-SNAPSHOT ]]; then
              echo "Version $version does not end in -SNAPSHOT"
              exit 1
            fi
            version=${version%-SNAPSHOT}
            echo "version=$version" >> $GITHUB_OUTPUT
          fi
      - name: Push Tag
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: v${{ steps.read_version.outputs.version }}
          message: "Release ${{ steps.read_version.outputs.version }}"
      - name: Build, Test, and Lint
        run: ./gradlew build
        env:
          ORG_GRADLE_PROJECT_SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      - name: Assemble and Publish
        run: ./gradlew assembleRelease publish
        env:
          ORG_GRADLE_PROJECT_VERSION_NAME: ${{ steps.read_version.outputs.version }}
          ORG_GRADLE_PROJECT_SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ARTIFACT_GPG_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.ARTIFACT_GPG_SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_uploadKeystorePassword: ${{ secrets.UPLOAD_KEYSTORE_PASSWORD }}
      - name: Archive SDK AAR
        uses: actions/upload-artifact@v2
        with:
          name: SDK AAR
          path: lib/build/outputs/aar/lib-release.aar
      - name: Archive Sample App
        uses: actions/upload-artifact@v2
        with:
          name: Sample App APK
          path: sample/build/outputs/apk/release/sample-release.apk
      - name: Create GitHub Release
        uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_name: Release ${{ steps.read_version.outputs.version }}
          tag_name: v${{ steps.read_version.outputs.version }}
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: lib/build/outputs/aar/lib-release.aar
          asset_name: com.smileidentity_android-sdk_${{ steps.read_version.outputs.version }}.aar
          asset_content_type: application/octet-stream
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: sample/build/outputs/apk/release/sample-release.apk
          asset_name: sample_partner002_${{ steps.read_version.outputs.version }}.apk
          asset_content_type: application/vnd.android.package-archive
      - name: Deploy Sample App to Play Store Internal Testing Track
        uses: r0adkll/upload-google-play@v1
        id: upload_to_play_store
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_SERVICE_ACCOUNT_JSON }}
          packageName: com.smileidentity.sample
          release_track: internal
          releaseFiles: sample/build/outputs/apk/release/sample-release.apk
      - name: Bump Version
        run: |
          version=${{ steps.read_version.outputs.version }}
          major=$(echo $version | cut -d. -f1)
          minor=$(echo $version | cut -d. -f2)
          patch=$(echo $version | cut -d. -f3)
          patch=$((patch + 1))
          new_version="$major.$minor.$patch-SNAPSHOT"
          echo $new_version > ./lib/VERSION
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git config --local user.name "${{ github.actor }}"
          git add VERSION
          git commit -m "Prepare for next development iteration"
          git push
